.main-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
        "map text";

    width: 80%;
    min-width: 1000px;
    min-height: 500px;
    margin: 20px auto;
}

.maps-widget {
    grid-area: map;
    width: 100%;
    height: 100%;
}

.main-text {
    grid-area: text;
    padding: 0 50px 0 50px;
    margin: 0;
    display: flex;
    text-align: justify;
    max-height: 500px;
    align-items: center;
}

.stats {
    margin-left: auto;
    margin-right: auto;
}

.stats tr th {
    padding: 1em;
    text-align: center;
    font-weight: bold;
}

.row-headers {
    text-align: right;
    font-weight: bold;
}

tr:nth-child(even) td {
    background-color: #464646;
}

.rest-list {
    border: none !important;
}