@import "/D277/stylesheets/nav.css";

:root {
    --primary-bg: #A1867F;
    --secondary-bg: #AED4E6;
    --primary-accent: pink;
}

* {
    margin: 0;
    padding: 0;
    background: var(--primary-bg);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
}

.state-map {
    width: 60%;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid green;
}

.flair {
    display: flex;
    width: 80%;
    min-width: 1000px;
    margin: 20px auto;
}

.flair-img {
    flex: 2;
    max-width: 80%;

}

.flair-txt {
    flex: 1;
    border-left: 2px ridge var(--primary-accent);
    padding: 5px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.city {
    fill:#AED4E6;
}

#Pennsylvania {
    fill: hotpink;
}

.city-text {
    font: 1000px sans-serif;
    fill: black;
    text-anchor: middle;
    dominant-baseline: middle;
}